<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="br.com.brilliantmachine.get_background_location">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <service
            android:name=".GeolocalizacaoService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:exported="false"/>
    </application>
</manifest>
